//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			b
	@project 	hw
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 31st 2017, 1:24:41 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="$css.component")
	span {{ b }}
